{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Custom styles for this template -->
    <link href="{% static 'signin.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Style1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Dashboard.css' %}">
	<title>Dashboard | Findem</title>

</head>
<body>

<!-- Top Navigatin bar -->
{% include 'partials/_top-navigation-primary.html' %}

<!--Main Navigation Bar-->
{% include 'partials/_main_navigation.html' %}
<br/>

<!-- Post a Project Button -->
<div class="container">
  <h4>Your Dashboard</h4>
  <hr>
  <a href="{%  url 'create' %}" role="button" class="btn btn-success"><b>+ Post a Project</b></a>
  <a href="{% url 'search_project' %}" role="button" class="btn btn-outline-success"><b>Browse Projects</b></a>
</div>

<div class="container">
  <div class="row">

    <!--Body + NewsFeed-->
    <div class="col-md-8">

    <!--Alerts-->
    {% include 'partials/_alerts.html' %}

    <!--Recent Projects-->
      <div class="card-container mb-5">
        <div class="card-head">
            <h5 style="display:inline-block">Live Projects</h5>
            <a class="float-right" href="{% url 'search_project' %}">Browse all-></a>
        </div>
        <hr style="padding:0px;margin:0px;">

        {% if projects %}
          {% for project in projects %}
            <!--Project card box-->
            <div class="project-card">
              <div class="row">
                <div class="col-sm-10 project-item">
                  <h6> <i class="fas fa-file-signature"></i> Project Title : </h6>
                  <!--Project name-->
                  <h6>{{ project.title }}</h6> 
                </div>
                <!--Live-->
                <div class="col-sm-2">
                  <h6 id="live"><i class="fas fa-wifi mr-1"></i>Live</h6>
                </div>
              </div>
  
              <!--Project Domain and Project Type-->
              <div class="">
                <h6 class="float-left mr-5"><i class="fas fa-globe-americas mr-1"></i>{{ project.domain }}</h6>
                <h6 ><i class="fas fa-laptop"></i> {{ project.project_type }} </h6>
              </div>
              
              <!--Project Description-->
              <div>
                <p>{{ project.description }}</p>
              </div>
  
              <!--Skills Requierd-->
              <table>
                  <tr>
                      <td><h6 class="mr-2"><i class="fas fa-award"></i> Skills Required : </h6></td>
                      <td>
                      <h6 class="float-left mr-2"> &#9642;{{ project.skill_1 }}</h6> 
                      {% if project.skill_2 %}
                          <h6 class="float-left mr-2"> &#9642;{{ project.skill_2 }}</h6> 
                      {% endif %}
                      {% if project.skill_3 %}
                      <h6 class="float-left mr-2"> &#9642;{{ project.skill_3 }}</h6> 
                      {% endif %}
                      {% if project.skill_4 %}
                      <h6 class="float-left mr-2"> &#9642;{{ project.skill_4 }}</h6> 
                      {% endif %}
                      </td>
                  </tr>
                  </table>
  
              <hr>
  
              <div class="project-card-button">
                <a href="{% url 'project_view' project.id %}"  type="button" class="btn btn-success btn-sm" >View</a>
                <a href="###" type="button" class="btn btn-primary btn-sm" >Join Project</a>
              </div>
            </div>
          {% endfor %}
        {% else %}
            <div style="padding:20px;">
              <center>
                  <h4>No live projects are going on in your college right now!</h4>
                  <h5>(Go ahead and browse other projects)</h5>
              </center>
            </div>
        {% endif %}


      </div>

    </div>

    <!--Side Section-->

    <!--User Mini Profile-->
    <div class="col-md-4">
      <div class="card-container">

        <div class="card-head">
          <a href="###" class="card-link float-right mt-1"><i class="fas fa-cog mr-1"></i>Edit profile</a>
          <p style="padding:0px; margin:0px;">Welcome,</p>
          <h4 style="padding:0px; margin:0px;">{{ user.name }}</h4>
        </div>

        <!--Profile Body-->
        <div class="row profile-body">
          <div class="col-md-4 profile-picture-container" style="border-right: 1px solid #ccc;">
          <!-- {% ifequal user.profile_picture None %}
              <img src="{% static 'Images/user.gif'%}" id="dash-profile-picture" />
          {% else %}
              {{ user.profile_picture.url }}
          {% endifequal %} -->
          <img src="{{ user.profile_picture.url }}" id="dash-profile-picture" />
  
          </div>
          <div class="col-md-7 profile-card">
           
            <!--User Folowers + Ratings + Projects-->
            <table>
              <!-- <tr>
                <td><h6><i class="fas fa-user-friends mr-1"></i>Followers : </h6></td>
                <td><h6>3200</h6></td>
              </tr>
              <tr>
                <td><h6><i class="far fa-star mr-1"></i>Rating : </h6></td>
                <td><h6>3.5</h6></td>
              </tr> -->
              <tr>
                <td><h6><i class="fas fa-desktop mr-1"></i>Projects : </h6></td>
                <td><h6>{{ user.project_count }}</h6></td>
              </tr>
            </table>

          </div>
        </div>

        <hr style="padding:0px; margin:0px;">

        <!--Profile Completion bar-->
        <div class="card-head">
         <!--  <div>
              <h6><i class="fas fa-user-tag"></i> Profile Completion :</h6>
          </div> -->

          <!--Bio User-->
          <div>
              <h6><i class="fas fa-user-edit"></i> Bio :</h6>
              <p>{{personal_info.bio}}</p>
          </div>
          
          <!--Top Skills-->
          <div>
              <h6><i class="fas fa-award"></i> Top Skills :</h6>
              <div style="padding:2px 0px; display:inline-block">
                  {% if user.skill_1 %}
                  <p class="top-skills"><img class="bullet" src="{% static 'Images/bullet.svg' %}">{{ user.skill_1 }}</p>
                  {% endif %}

                  {% if user.skill_2 %}
                  <p class="top-skills"><img class="bullet" src="{% static 'Images/bullet.svg' %}">{{ user.skill_2 }}</p>
                  {% endif %}

                  {% if user.skill_3 %}
                  <p class="top-skills"><img class="bullet" src="{% static 'Images/bullet.svg' %}">{{ user.skill_3 }}</p>
                  {% endif %}

                  {% if user.skill_4 %}
                  <p class="top-skills"><img class="bullet" src="{% static 'Images/bullet.svg' %}">{{ user.skill_4 }}</p>
                  {% endif %}

                  {% if user.skill_5 %}
                  <p class="top-skills"><img class="bullet" src="{% static 'Images/bullet.svg' %}">{{ user.skill_5 }}</p>
                  {% endif %}

                  {% if user.skill_6 %}
                  <p class="top-skills"><img class="bullet" src="{% static 'Images/bullet.svg' %}">{{ user.skill_6 }}</p>
                  {% endif %}
              </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>
</body>

<!-- Scripts -->
<script src="{% static 'JS/Dashboard.js' %}" type="text/javascript" ></script>

<!--Footer-->
{% include 'partials/_footer.html' %}

</html>