{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Custom styles for this template -->
    <link href="{% static 'signin.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Style1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Dashboard.css' %}">
	<title>Requests | Findem</title>

</head>
<body>

<!-- Top Navigatin bar -->
{% include 'partials/_top-navigation-primary.html' %}

<!--Main Navigation Bar-->
{% include 'partials/_main_navigation.html' %}
<br/>

<div class="container">
  <div class="row">
  <div class="col-md-3">
    <a href="{% url 'requests' %}" class="btn btn-primary mr-2">Sent</a>
    <a href="{% url 'request_recv' %}" class="btn btn-primary">Recieved</a>
  </div>
</div>
</div>

<!--Sent User Requests-->
<section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p><b> Sent User Requests </b></p>
          {% if user_requests %}
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Profile</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for user_request in user_requests %}
                  <tr>
                    <td>{{ user_request.name }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'profile' user_request.receiving_user_id %}">View Profile</a>
                    </td>
                    <td>
                      <a class="btn btn-danger" href="{% url 'delete_user_request' user_request.id  %}">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            {% else %}
              <p>No sent requests</p>
            {% endif %}
        </div>
      </div>
    </div>
</section>

<div class="container"> 
    <hr>  
</div>

<!--Sent Projects Requests-->
<section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p><b> Sent Project Requests </b></p>
          {% if project_requests %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Project</th>
              </tr>
            </thead>
            <tbody>
              {% for project_request in project_requests %}
              <tr>
                <td>{{project_request.name}}</td>
                 <td>
                  <a class="btn btn-light" href="{% url 'project_view' project_request.project_id %}">View Project</a>
                </td>
                <td>
                  <a class="btn btn-danger" href="{% url 'delete_project_request' project_request.id %}">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p>No project reqeusts sent</p>
          {% endif %}
        </div>
      </div>
    </div>
</section>

</body>

<!--Footer-->
{% include 'partials/_footer.html' %}

</html>