{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Custom styles for this template -->
    <link href="{% static 'signin.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Style1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Projects.css' %}">
	  <title>Projects | Findem</title>
    <style>
    section.search-box {
        padding:35px 10px;
       
      }
     
    input#live-toggle{
        width: 23%;
        margin-top: 12px;
    }
  
    span#togglecontainer{
  
        text-align: left;
        color:#111;
        border:1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        padding:8px 15px;
    }
  
    span#togglecontainer label{
        padding:0;
        margin:0;
    }
    </style>

</head>
<body>

<!-- Top Navigatin bar -->
{% include 'partials/_top-navigation-primary.html' %}

<!--Main Navigation Bar-->
{% include 'partials/_main_navigation.html' %}

<!-- Heading -->

<!--Search Box-->
<section class="search-box"
style="background: url('{% static 'Images/Search-banner4.jpeg' %}'); background-size: cover;
background-position:right 10px top -20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'search_project' %}" autocomplete="off">
                  <!--Form Row 1-->
                    <div class="form-row">
                            <!-- College Name -->
                            <div class="col-md-5 mb-3">
                                <div class="autocomplete">
                                    <input type="text" class="form-control" name="college" id="college-input"
                                    placeholder="College Name" value="{{ values.college }}">
                                </div>
                            </div>

                           <!--  Project Type  -->
                            <div class="col-md-4 mb-3">
                                <select class="form-control" name="project_type" >
                                    <option selected="true" disabled="disabled">Project Type</option>
                                    {% for key, value in project_type_choices.items %}
                                      <option value="{{ key }}"
                                      {% if key == values.project_type %}
                                        selected
                                      {% endif %}
                                      >{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!--Keyword - to serach in description -->
                              <div class="form-group col-md-3 mb-3">
                                  <input type="text" class="form-control" name="keyword"
                                  placeholder="Keyword" value={{values.keyword}} >
                            </div>
                    </div>
                    <!--Form row 2-->
                    <div class="form-row">
                            <!-- Project Domain -->
                            <div class="form-group col-md-6 mb-3">
                              <input type="text" class="form-control" name="domain" id="project-domain"
                              placeholder="Project doamin (Ex. Machine Learning, Android)" value={{values.domain}}>
                            </div>

                            <!-- Relevant Skills -->
                              <div class="form-group col-md-5 mb-3">
                                <div class="autocomplete">
                                  <input type="text" class="form-control" name="skill" id="skill-input"
                                  placeholder="Relevant Skills" value={{values.skill}} >
                                </div>
                              </div>

                       
                            <!-- Checkbox for live projects -->
                            <div class="form-group col-md-1 mb-3">
                                 <span id="togglecontainer">
                                  <input type="checkbox" name="live" id="live-toggle"
                                  {% if values.live %}
                                  checked
                                  {% endif %}
                                  >Live
                                 </span>
                            </div>
                    </div>

                    <div class="form-row">
                        <button class="btn btn-success btn-block mt-2 mb-2">Search Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Body-->
<div class="container mb-4">
  <div class="row">
    <!--Projects listings-->
    <div class="col-md-8">

    <!--Your Projects-->
      <div class="card-container">
        <div class="card-head">
            <h5 style="display:inline-block">Browse Projects</h5>
        </div>
        <hr style="padding:0px;margin:0px;">

        {% if project_list %}
          {% for project in project_list %}
            <!--Project card box-->
            <div class="project-card">
            <div class="row">
               <!--Project name-->
              <div class="col-sm-10 project-item">
                <h6> <i class="fas fa-file-signature"></i> Project Title : </h6>
                <h6>{{ project.title }}</h6> 
              </div>
              {% if project.live == "on" %}
                <!--Live-->
                <div class="col-sm-2">
                    <h6 id="live"><i class="fas fa-wifi mr-1"></i>Live</h6>
                </div>
              {% endif %}
            </div>
  
            <!--Project Domain and Project Type-->
            <div class="">
              <h6 class="float-left mr-5"><i class="fas fa-globe-americas mr-1"></i>{{ project.domain }}</h6>
              <h6 ><i class="fas fa-laptop"></i> {{ project.project_type }}</h6>
            </div>
            
            <!--Project Description-->
            <div>
              <p> {{ project.description }} </p>
            </div>
  
            <!--Skills Requierd-->
            <table>
                <tr>
                    <td><h6 class="mr-2"><i class="fas fa-award"></i> Skills Required : </h6></td>
                    <td>
                    <h6 class="float-left mr-2"> &#9642;{{ project.skill_1 }}</h6> 
                    {% if project.skill_2 %}
                        <h6 class="float-left mr-2"> &#9642;{{ project.skill_2 }}</h6> 
                    {% endif %}
                    {% if project.skill_3 %}
                    <h6 class="float-left mr-2"> &#9642;{{ project.skill_3 }}</h6> 
                    {% endif %}
                    {% if project.skill_4 %}
                    <h6 class="float-left mr-2"> &#9642;{{ project.skill_4 }}</h6> 
                    {% endif %}
                    </td>
                </tr>
            </table>
  
            <hr>
  
            <!--Project Button-->
            <div class="project-card-button">
                <a href="{% url 'project_view' project.id %}"  type="button" class="btn btn-success btn-sm" >View</a>
                <a href="{% url 'project_contact' project.id %}" class="btn btn-success btn-sm">Join Project</a>
            </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>

    <!--Side Section-->
    <div class="col-md-4"></div>
  </div>

  <br>
  <!--Pagination-->
  <center>
      <!--Pagination-->
  <div class="row">
         <div class="col-md-6">
           {% if project_list.has_other_pages %}
           <ul class="pagination">
  
             {% if project_list.has_previous %}
               <li class="page-item">
                 <a href="?page={{project_list.previous_page_number}}" class="page-link">&laquo;</a>
               </li>
             {% else %}
               <li class="page-item disabled"></li>    
                 <a class="page-link">&laquo;</a>
             {% endif %}
  
             {% for i in project_list.paginator.page_range %}
               {% if project_list.number == i %}
                 <li class="page-item active">
                   <a class="page-link">{{i}}</a>
                 </li>
               {% else %}
                 <li class="page-item">
                   <a href="?page={{i}}" class="page-link">{{i}}</a>
                 </li>
               {% endif %}
             {% endfor%}
             
             {% if project_list.has_next %}
               <li class="page-item">
                 <a href="?page={{project_list.next_page_number}}" class="page-link">&raquo;</a>
               </li>
             {% else %}
               <li class="page-item disabled"></li>    
                 <a class="page-link">&raquo;</a>
             {% endif %}
           </ul>
           {% endif %}
         </div>
  
         </div>
  </center>
</div>
</body>

<!-- Scripts -->
<script src="{% static 'JS/Dashboard.js' %}" type="text/javascript" ></script>
<script src="{% static 'JS/Projects.js' %}" type="text/javascript" ></script>

<!--Footer-->
{% include 'partials/_footer.html' %}

</html>