
/* Link addition to cover up */
.link-border {
    border-bottom: 4px solid #16182c;;
}

section.search-box {
    background-image: url("/Images/Search-banner4.jpeg");
    padding:35px 10px;
    background-color: #ccc;
    background-size: cover;
    background-position:right 10px top -20px;
    
}

/* CSS for autocomplete for colleges */
/*This css is for autocomplete input for colleges names*/
 div.autocomplete {
    /*the container must be positioned relative:*/
    width : 100%;
    position: relative;
    display: inline-block;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  input#live-project:focus {
      color: green;
  }

  div.live-project {

  }