{% load static %}
<!--Main Navigation Bar-->
<!--Navigation Bar-->
<nav class="top-nav">
    <div class="container">
        <div class="topnav" id="myTopnav">
            <a href="###" class="">My Projects</a>
            <a href="###" class="active-link">Dashboard</a>
            <a href="###" class="">Requests</a>
            <a href="###" class="">Messages</a>
  
            <a href="javascript:void(0);" class="icon" onclick="topnavbutton()">
            <i class="fa fa-bars"></i> </a>
        </div>
    </div>
  </nav>