{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet-About.css' %}">
  <title>About | Findem</title>
</head>
<body>
  
  <div id="body-container">

    <div class="title-container">
      <a href="Index.html"><h2 class="title">Findem</h2></a>
    </div>

    <div class="mission">
      <h3 id="mission-header">Our Mission</h3>
      <p>
        Our Mission is, to allow everyone to find people around them who posses skill sets and 
        collaborate with them on Projects, Hackathons, or just for an Interesting talk.
      </p>

      <img src="{% static 'Images/414341-PDTRRV-886(new)2.jpg' %}">
    </div>
  </div>
  

<!--Footer-->
</body>

</html>