{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Contact.css' %}">
  <title>Contact | Findem</title>
</head>

<body>
  
  <div class="container">
    <div class="team-container row">
      <div class="col-3">
        <a href="Index.html"><h1 class="title">Findem</h1></a>
      </div>
      <div class="col-6">
        <h1>Founding Team</h1>
      </div>
    </div>
    <hr/>
    <div class="row"> 
      
      <div id="team-left-img" class="col-3">
        <img src="{% static 'Images/Founder.gif' %}">
      </div>
      <div class="col-6">
        
        <div class="Name-Position-container">
          <h3>Aquib Ansari</h3>
          <h3 class="position">Founder</h3>
        </div><br/>

        <div class="Info-container">
          <h5>Anil Neerukonda Institute of Technology and Science</h5>
          <p>aquibxv@gmail.com</p>
        </div>

      </div>

    </div>
  </div>

</body>

</html>