{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_LogIn.css' %}">
	<title>LogIn Page</title>
</head>
<body>

  <div class="container" id="body">
    <div class="back-box">
        <span class="back-btn"><a href="{% url 'index' %}"><img src="{% static 'Images/back.png' %}" alt="BAck"></a></span>
        <h4 class="title-back">Findem</h4>
    </div>
    <!--Alerts-->
    {% include 'partials/_alerts.html' %}
    <h5 class="loginSignup">Have an account ? Log In</h5>
    <form class="needs-validation" novalidate action="{% url 'login' %}", method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required >
        <div class="invalid-feedback">Please enter your valid email</div>
        <small id="emailHelp" class="form-text text-muted">Your email is safe with us</small>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
        <div class="invalid-feedback">Please enter your password</div>
        <a href="{% url 'reset_password' %}" id="fgtpwd" style="color:#555" mt-2>Forgot passoword?</a>
      </div>
      
      <button type="submit" class="btn btn-success" id="loginButton">Log In</button>
    </form> 

  <div id="signUpPrompt"><h6>Don't have an account ?</h6><a id="singUpLink" href="{% url 'signup' %}">Sign Up</a>
  </div>

  <hr>

  <!--Google Login-->
  <div class="social-media-signin">
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="google social-btn" >
          <i class="fa fa-google fa-fw"></i><span id="google-btn">Login with Google</span>
    </a>
  </div>

  <!--Facebook Login-->
  <div class="social-media-signin">
      <a href="{% url 'social:begin' 'facebook' %}" class="facebook social-btn" >
            <i class="fa fa-facebook fa-fw"></i><span id="google-btn">Login with Facebook</span>
      </a>
  </div>
  
  </div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

</body>
</html>