{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Style1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/StyleSheet_Search.css' %}">

    <title>Findem | Search</title>

    <style>
     
    </style>
</head>
<body>

    <!--Top Navigation Bar-->
    {% include 'partials/_top-navigation-primary.html' %}

    <!--Main Navigation Bar for logged-in User-->
    <!--Navigation Bar-->
    <nav class="top-nav" style="display:none">
        <div class="container">
            <div class="topnav" id="myTopnav">
                <a href="MyProjects.html" class="link-border">My Projects</a>
                <a href="Dashboard.html" class="link-border">Dashboard</a>
                <a href="###" class="link-border">Messages</a>
            
                <a href="javascript:void(0);" class="icon" onclick="topnavbutton()">
                <i class="fa fa-bars"></i> </a>
            </div>
        </div>
    </nav>

    <!--Search Box-->
    <section class="search-box" style="background: url('{% static 'Images/Search-banner4.jpeg' %}');background-position:left -55px top -30px;">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <form action="{% url 'search' %}" autocomplete="off">
                  <!--Form Row 1-->
                  <div class="form-row">
                          <!--College Name-->
                          <div class="col-md-5 mb-3">
                              <div class="autocomplete">
                                  <input type="text" class="form-control" id="college-input" name="college" 
                                  placeholder="College Name" value="{{ values.college }}">
                              </div>
                          </div>

                          <!-- Releveant Skills -->
                          <div class="col-md-4 mb-3">
                                <div class="autocomplete">
                                    <input type="search" class="form-control" id="skill" name="skill"
                                    value="{{ values.skill }}" placeholder="Relevant Skills">
                                </div>
                          </div>
                          
                            <!-- Releveant Skills
                            <div class="col-md-4 mb-3">
                                <div class="autocomplete">
                                    <input type="text" class="form-control" id="skill-input" placeholder="Relevant Skills">
                                </div>
                            </div> -->

                          <!--UserName-->
                          <div class="col-md-3 mb-3"> 
                              <input type="text" class="form-control" id="name-input" name="name"
                               placeholder="Name" value="{{ values.name }}">
                          </div>

                  </div>
                  <div class="form-row">
                      <button type="submit" class="btn btn-success btn-block mt-2 mb-2">Search</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-5">
            <br>
        <div class="container">
            <div class="row">
                {% if profiles %}
                    {% for profile in profiles %}
                        <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card listing-preview">
                            <img class="card-img-top mt-3" src= "{{ profile.profile_picture.url }}" style="width:60%; margin-left:auto;margin-right:auto;" alt="">
                            <div class="card-body">
                            <div class="listing-heading text-center">
                                <h6 class="display-4" style="font-size:2rem; font-weight:20px;">{{ profile.name }}</h6>
                                <!-- <p>
                                I beliveve in creation i use technoogy as my tools
                                </p> -->
                            </div>
            
                            <hr style="margin:0px; padding:0px;">
            
                            <div class="row py-2 ">
                                <div class="col-sm-12">
                                <i class="fas fa-university float-left fa-2x text-secondary"></i>
                                <h6 class="ml-5">{{ profile.college_name }}</h6>
                                </div>
                            </div>
            
                            <table>
                                <tr>
                                    <td> <i class="fas fa-award float-left fa-2x text-secondary mr-3"></i> </td>
                                    <td>
                                    <h6 class="float-left mr-2">&#9679;{{ profile.skill_1 }}</h6> 
                                    <!-- {% if profile.skill_2 %} -->
                                    <h6 class="float-left mr-2">&#9679;{{ profile.skill_2}}</h6> 
                                    <!-- {% endif %} -->
                                    <!-- {% if profile.skill_3 %} -->
                                    <h6 class="float-left mr-2">&#9679;{{ profile.skill_3 }}</h6>
                                    <!-- {% endif %} -->
                                    <!-- {% if profile.skill_4 %} -->
                                    <h6 class="float-left mr-2">&#9679;{{ profile.skill_4 }}</h6>
                                    <!-- {% endif %} -->
                                    <!-- {% if profile.skill_5 %} -->
                                    <h6 class="float-left mr-2">&#9679;{{ profile.skill_5 }}</h6>
                                    <!-- {% endif %}  -->
                                    <!-- {% if profile.skill_6 %} -->
                                    <h6 class="float-left mr-2">&#9679;{{ profile.skill_6 }}</h6>
                                    <!-- {% endif %} -->
                                    </td>
                                </tr>
                                </table>
            
                            <hr style="margin-top:0px ; padding:0px;">
                            <a href="User-Profile.html" class="btn btn-success btn-block mb-3"><i class="fas fa-info-circle mr-2"></i>View profile</a>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="listing.html" class="btn btn-primary btn-block mr-2"><i class="far fa-handshake mr-1"></i>Connect</a>  
                                </div>
                                <div class="col-sm-6">
                                    <a href="listing.html" class="btn btn-primary btn-block"><i class="far fa-envelope"></i> Message</a>
                                </div>
                            </div>
                            </div>
                        </div>
                       </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p>No Profile available!</p>
                    </div>
                {% endif %}

            </div>

            <center>
                 <!--Pagination-->
            <div class="row">
                    <div class="col-md-6">
                      {% if profiles.has_other_pages %}
                      <ul class="pagination">
            
                        {% if profiles.has_previous %}
                          <li class="page-item">
                            <a href="?page={{profiles.previous_page_number}}" class="page-link">&laquo;</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled"></li>    
                            <a class="page-link">&laquo;</a>
                        {% endif %}
            
                        {% for i in profiles.paginator.page_range %}
                          {% if profiles.number == i %}
                            <li class="page-item active">
                              <a class="page-link">{{i}}</a>
                            </li>
                          {% else %}
                            <li class="page-item">
                              <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                          {% endif %}
                        {% endfor%}
                        
                        {% if profiles.has_next %}
                          <li class="page-item">
                            <a href="?page={{profiles.next_page_number}}" class="page-link">&raquo;</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled"></li>    
                            <a class="page-link">&raquo;</a>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </div>
        
                    </div>
            </center>

        </div>
    </section>

<!--Footer-->
{% include 'partials/_footer.html' %}

<script type="text/javascript" src="{% static 'JS/Search_JS.js' %}"></script>
</body>
</html>